*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

#formNomina{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}